In [1]:
import pandas as pd

In [2]:
df_metrics = pd.read_excel(
    r"../data/rappiData.xlsx",
    sheet_name='RAW_INPUT_METRICS'
)

df_orders = pd.read_excel(
    r"../data/rappiData.xlsx",
    sheet_name='RAW_ORDERS'
)

In [3]:
df_metrics.info()

<class 'pandas.DataFrame'>
RangeIndex: 12573 entries, 0 to 12572
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   COUNTRY              12573 non-null  str
 1   CITY                 12573 non-null  str
 2   ZONE                 12573 non-null  str
 3   ZONE_TYPE            12573 non-null  str
 4   ZONE_PRIORITIZATION  12573 non-null  str
 5   METRIC               12573 non-null  str
 6   L8W_ROLL             12460 non-null  float64
 7   L7W_ROLL             12466 non-null  float64
 8   L6W_ROLL             12462 non-null  float64
 9   L5W_ROLL             12467 non-null  float64
 10  L4W_ROLL             12475 non-null  float64
 11  L3W_ROLL             12501 non-null  float64
 12  L2W_ROLL             12518 non-null  float64
 13  L1W_ROLL             12530 non-null  float64
 14  L0W_ROLL             12573 non-null  float64
dtypes: float64(9), str(6)
memory usage: 1.4 MB

In [4]:
df_orders.info()

<class 'pandas.DataFrame'>
RangeIndex: 1242 entries, 0 to 1241
Data columns (total 13 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   COUNTRY  1242 non-null   str
 1   CITY     1242 non-null   str
 2   ZONE     1242 non-null   str
 3   METRIC   1242 non-null   str
 4   L8W      1021 non-null   float64
 5   L7W      1022 non-null   float64
 6   L6W      1021 non-null   float64
 7   L5W      1016 non-null   float64
 8   L4W      1003 non-null   float64
 9   L3W      999 non-null    float64
 10  L2W      1000 non-null   float64
 11  L1W      994 non-null    float64
 12  L0W      998 non-null    float64
dtypes: float64(9), str(4)
memory usage: 126.3 KB

In [5]:
df_orders.isna().sum(axis=1).describe()

count    1242.000000
mean        1.694042
std         3.196207
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         9.000000
dtype: float64

In [6]:
df_metrics.isna().sum(axis=1).describe()

count    12573.000000
mean         0.056073
std          0.504944
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max          8.000000
dtype: float64

In [7]:
nulls_per_row = df_orders.isna().sum(axis=1)
df_orders.loc[nulls_per_row.sort_values(ascending=False).head(5).index]

,COUNTRY,CITY,ZONE,METRIC,L8W,L7W,L6W,L5W,L4W,L3W,L2W,L1W,L0W
1210,CL,Valdivia,Valdivia,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1226,BR,Anapolis,MP Jardim Bela Vista/Vila Góis APS,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1225,MX,Nacajuca,NCA Jalpa,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1213,BR,Cuiaba,Petrópolis,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,MX,Penjamo,PMO Centro,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
nulls_per_row = df_orders.isna().sum(axis=1)

count_by_nulls = nulls_per_row.value_counts().sort_index()

count_1_to_9 = count_by_nulls.loc[1:9]
count_1_to_9

1     16
2     16
3     12
4     24
5     17
6     17
7     40
8     55
9    113
Name: count, dtype: int64

In [9]:
nulls_per_row = df_metrics.isna().sum(axis=1)
df_metrics.loc[nulls_per_row.sort_values(ascending=False).head(5).index]

,COUNTRY,CITY,ZONE,ZONE_TYPE,ZONE_PRIORITIZATION,METRIC,L8W_ROLL,L7W_ROLL,L6W_ROLL,L5W_ROLL,L4W_ROLL,L3W_ROLL,L2W_ROLL,L1W_ROLL,L0W_ROLL
5007,MX,Zacatecas,ZAC Campesina,Non Wealthy,Not Prioritized,Lead Penetration,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.035885
1607,MX,Cuauhtemoc,CMO Zona Centro,Non Wealthy,Not Prioritized,Gross Profit UE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.267183
9528,BR,Maringa,Maringá - JARDIM AURORA,Non Wealthy,Not Prioritized,Perfect Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.430107
12302,BR,Novo Hamburgo,Novo Hamburgo MP,Non Wealthy,Not Prioritized,Gross Profit UE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.789551
1084,MX,Tecoman,TCM Centro,Non Wealthy,Not Prioritized,Gross Profit UE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.734855

In [10]:
nulls_per_row = df_metrics.isna().sum(axis=1)

count_by_nulls = nulls_per_row.value_counts().sort_index()

count_1_to_9 = count_by_nulls.loc[1:9]
count_1_to_9

1    45
2    30
3    35
4    23
5    42
6    10
7    11
8     7
Name: count, dtype: int64

**Hay varios registros tanto de ordenes como de metricas que la mayoria de sus variables numericas son nulos. Sera importante advertir al agente de estos casos y que sepa como abordarlos de forma adecuada, e incluso alertar al usuario de este comportamiento**

In [11]:
df_orders

,COUNTRY,CITY,ZONE,METRIC,L8W,L7W,L6W,L5W,L4W,L3W,L2W,L1W,L0W
0,CO,Bogota,Chapinero,Orders,264650.0,261767.0,277005.0,279886.0,277954.0,275344.0,275633.0,279048.0,274376.0
1,CO,Bogota,Usaquén,Orders,233674.0,224436.0,241602.0,240411.0,240786.0,236591.0,241475.0,238649.0,236876.0
2,PE,Lima,Miraflores,Orders,123252.0,125820.0,126245.0,123770.0,126467.0,124376.0,124751.0,123431.0,124757.0
3,CO,Medellin,Poblado_guayabal,Orders,123163.0,118244.0,124015.0,108165.0,106785.0,117266.0,120384.0,121428.0,117824.0
4,PE,Lima,San isidro,Orders,109987.0,114369.0,114077.0,113302.0,115501.0,113639.0,113772.0,112622.0,114141.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1237,BR,Grande São Paulo,SP - SP - Cantareira,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1238,BR,Limeira,MP VILA LIMEIRANEA LIM,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1239,BR,São Luis,MP Ponta do Farol/ Calhau SLZ,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1240,BR,Maringa,Maringá - VILLA EMILIA,Orders,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN
1241,PE,Tarapoto,Barrio Comercio,Orders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df_metrics.to_csv(
    r"../data/df_metrics.csv",
    index=False,
    encoding="utf-8"
)

df_orders.to_csv(
    r"../data/df_orders.csv",
    index=False,
    encoding="utf-8"
)